<a href="https://colab.research.google.com/github/ahmed-humayun/JJC-TTP/blob/main/Day_2_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loops

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
17%5

2

In [ ]:
#print even numbers

mlist = [1,22,34,43,52,632,733,800,923,1011,45,44,66]
#in the previous line I created a list of numbers.

for number in mlist:
#in this line I created a for loop to iterate through my list of numbers

  if number % 2 == 0:
  #in this line I am using a conditional if-statement to determine if a number is even
    print(number)
    #in this line I am printing the iterator after the conditional statement has been executed.

22
34
52
632
800
44
66

In [ ]:
#print odd numbers

mlist = [1,22,34,43,52,632,733,800,923,1011,45,44,66]
#in the previous line I created a list of numbers.

for number in mlist:
#in this line I created a for loop to iterate through my list of numbers

  if number % 2 == 1:
  #in this line I am using a conditional if-statement to determine if a number is odd
    print(number)
    #in this line I am printing the iterator after the conditional statement has been executed.

1
43
733
923
1011
45

In [ ]:
list_sum = 0

for num in l:
  list_sum = list_sum + num
print(list_sum)

55

In [ ]:
for letter in 'This is a string.':
  print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [ ]:
l = [(2,4), (6,8), (10,12)]
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [ ]:
for (t1,t2) in l:
  print(t1)

2
6
10

In [ ]:
d = {'k1':1, 'k2':2, 'k3': 3}

In [ ]:
for item in d:
  print(item)

k1
k2
k3

In [ ]:
for k,v in d.items():
  print(k)
  print(v)

k1
1
k2
2
k3
3